* {
  box-sizing:border-box
  width: 100%;
  }
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    z-index: 5;
}

/***************************************header*************************/
header {
    text-transform: uppercase;
    background-color: #FFF;
    padding: 16px 0 0 32px;
    font-size: 15px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
    width: 100%;
    position: fixed;
    z-index: 999;
   
    margin-top: -50px;
}
#logoh1{
  display: flex;
  justify-content: space-between;
  width: 75%;
      padding: 16px 0 0 0;

}

#logo, nav, li {
    display: inline-block;
}

#logo {
    background-color: #2196F3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}
#titre_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #73b6e6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}

li {
    margin-left: 32px;
}
li a, .button {
    text-decoration: none;
    color: #333;
}

.button {
    text-transform: uppercase;
    float: right;
    margin-top: -16px;
    line-height: 84px;
    height: 84px;
    text-decoration: none;
    padding: 0 16px;
    margin-right: 2%;
}
.button-sign-up {
    background-color: #EEE;
}


#hamburger, #hamburger-content {
    display: inline;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#hamburger-sidebar li {
    display: block;
}
#hamburger-sidebar-header {
    background: url(../images/sidebar-header.png) center;
    background-size: cover;
    height: 128px;
}
#hamburger-sidebar-body {
    padding: 16px 8px;
}
#hamburger-sidebar-body li:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
#hamburger-sidebar-body li:first-child:before {
    background-image: url(../images/icons/discover.svg);
}
#hamburger-sidebar-body li:nth-child(2):before {
    background-image: url(../images/icons/how.svg);
}
#hamburger-sidebar-body li:nth-child(3):before {
    background-image: url(../images/icons/about.svg);
}
#hamburger-sidebar-body li:last-child:before {
    background-image: url(../images/icons/qna.svg);
}
#hamburger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

/*******************************slider**************************************************/

 
/* Slideshow container */
.slideshow-container {  
   margin: 0px 50px 0px 50px;
    /*width: 100%;*/
    /*height: 280px;*/
    position: relative;
   box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
   padding-top: 140px;
}
.slidee img {
    height: 70vh;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**********************footer*******************************/

footer{
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: 80px;
}
.text_footer{
  color: white;
  font-weight: bold;
    text-align: center;
}



/****************Map***************/

#h1Map {
    text-align: center;
    /*padding-top: 25px;*/
    padding-top: 130px;
    padding-bottom: 5px;
}


/* Map*/

#map {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#googleMap {
  width: 70%;
  height: 400px;
}

/************************************************************/

/* Aside */

aside {
  font-size: 0.9em;
  overflow-wrap: normal;
  padding: 10px;
  margin-left: 10px;
}

#stationDetails {
  width: 30%;
  word-wrap: break-word;
}

#details {
  border: 2px solid #e97c54;
  -webkit-box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
  box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
  border-radius: 10px;
  background-color: #e8e0d8;/*#207ac9;*/
  height: 100%;
  text-align: center;
  line-height: 1.9;
  color: #207ac9;
}

#btn {
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 2px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}


/*************************************************************/

/* reservationVelo _ canvas*/
#reservation {
display: none;
}

#reservationVelo {
  position: relative;
  /* width: 29%;*/
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#canvas {
  position: absolute;
  border-radius: 10px;
  margin: 16px 0 10px 0;
  border: 2px solid /*#FFA726*/#e97c54;
  -webkit-box-shadow: 2px 2px 2px 2px /*#FFA726*/#e97c54;
  box-shadow: 2px 2px 2px 0 /*#FFA726*/#e97c54;
  -ms-touch-action: none;
  touch-action: none;
}

#client {
  position: absolute;
  right: 53%;
  width: 80px;
  top: 30px;
}
/* bouton de validation de la réservation*/

#confirmation {
  position: absolute;
  right: 53%;
  top: 295px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 1px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/* bouton servant à effacer le contenu du canvas*/

#clear {
  position: absolute;
  right: 41%;
  top: 295px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 1px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/*******************************************************/

/* div validation*/

#validation {
  border: 1px solid /*#FFA726*/#e97c54;
  display: inline-block;
  
  padding: 10px;
  border-radius: 10px;
  margin: 10px 23px;
  -webkit-box-shadow: 1px 1px 1px 0 /*#FFA726*/#e97c54;
  box-shadow: 2px 2px 2px 0 /*#FFA726*/#e97c54;
}



/****************************************************************************************
************************************* RESPONSIVE ****************************************
****************************************************************************************/

 
@media screen and (max-width: 1024px) {
    

    #hamburger-content {
        display: none;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
}

@media screen and (max-width:800px){
   header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    #hamburger-button {
    margin-right: 72px;
   } 
   #titre_header {
    padding-left: 10px;
    color: #e97c54;
   }
  #h1Map{
    color: #e97c54;
  } 
    
    .slideshow-container {  
   margin: 0;
   padding-top: 115px;
}

  #map {
    flex-direction: column;
  }
  #googleMap{
    width: 90%;
    margin: auto;
  }
 #stationDetails{
  width: 50%;
  margin: auto;
 }
 #client {
  right: 55%;
 }
 #confirmation  {
  left: 35%;
 }
 #clear{
  right: 35%;
 }


}

@media screen and (max-width:400px){
    .slideshow-container {  
  
   padding-top: 113px;
}
   #hamburger-button {
    margin-right: 72px;
   } 
   #titre_header {
    padding-left: 10px;
   }
   #h1Map{
    font-size: 1.3em;
  } 
   #client {
  right: 60%;
 }
    #confirmation  {
  left: 15%;
 }
 #clear{
  right: 15%;
 }
 /*#validation{
  margin: 10px auto;
 }*/
}