html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    background-color: white;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    position: sticky;/* evolué de fixed*/
    top: 0;
    z-index: 999;
    margin-top: -20px;
}

#logo {
    padding-left: 25px;
    margin: 15px 0 0 35px;
    width: 150px;
    height: 70px;
}

#titre_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #73b6e6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
    font-size: 24px;
}

.menu_header a {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.nav_burger {
    display: none;
}

#div_burger {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #222222;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    display: none;
}

#div_burger a {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    color: white;
    text-decoration: none;
    
    font-size: 20px;
    cursor: pointer;
}

#div_burger a:hover {

    font-weight: 900;
}

.fa-window-close {
    color: white;
}

#close_menu {
    position: absolute;
    margin-left: 170px;
    margin-top: -20px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: 80px;
}
.text_footer{
  color: white;
  font-weight: bold;
    text-align: center;
}



/****************Map***************/

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}


/* Map*/

#map {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#googleMap {
  width: 70%;
  height: 400px;
}

/************************************************************/

/* Aside */

aside {
  font-size: 0.9em;
  overflow-wrap: normal;
  padding: 10px;
  margin-left: 10px;
}

#stationDetails {
  width: 30%;
  word-wrap: break-word;
}

#details {
  border: 2px solid #e97c54;
  -webkit-box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
  box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
  border-radius: 10px;
  background-color: #e8e0d8;/*#207ac9;*/
  height: 100%;
  text-align: center;
  line-height: 1.9;
  color: #207ac9;
}

#btn {
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 2px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}






/*******************************slider**************************************************/

 * {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {  
   margin: 0px 50px 0px 50px;
    /*width: 100%;*/
    /*height: 280px;*/
    position: relative;
   box-shadow: 2px 2px 2px 2px /*#ffb74d*/#e97c54;
}
.slidee img {
    height: 70vh;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*************************************************************/

/* reservationVelo _ canvas*/
#reservation {
display: none;
}

#reservationVelo {
  position: relative;
  /* width: 29%;*/
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#canvas {
  position: absolute;
  border-radius: 10px;
  margin: 16px 0 10px 0;
  border: 2px solid /*#FFA726*/#e97c54;
  -webkit-box-shadow: 2px 2px 2px 2px /*#FFA726*/#e97c54;
  box-shadow: 2px 2px 2px 0 /*#FFA726*/#e97c54;
  -ms-touch-action: none;
  touch-action: none;
}

#client {
  position: absolute;
  right: 53%;
  width: 80px;
  top: 30px;
}
/* bouton de validation de la réservation*/

#confirmation {
  position: absolute;
  right: 53%;
  top: 295px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 1px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/* bouton servant à effacer le contenu du canvas*/

#clear {
  position: absolute;
  right: 41%;
  top: 295px;
  border-radius: 10%;
  -webkit-box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  box-shadow: 1px 1px 1px 0px /*#FFA726*/#e97c54;
  border: 1px solid /*#FFA726*/#e97c54;
  background-color: #f9f4f4;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

/*******************************************************/

/* div validation*/

#validation {
  border: 1px solid /*#FFA726*/#e97c54;
  display: inline-block;
  
  padding: 10px;
  border-radius: 10px;
  margin: 10px 23px;
  -webkit-box-shadow: 1px 1px 1px 0 /*#FFA726*/#e97c54;
  box-shadow: 2px 2px 2px 0 /*#FFA726*/#e97c54;
}