html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    background-color: white;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    position: fixed;
    z-index: 999;
    margin-top: -20px;
}

#logo {
    padding-left: 25px;
    margin: 15px 0 0 35px;
    width: 197px;
    height: 75px;
}

#titre_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: lightgray;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
    font-size: 24px;
}

.menu_header a {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.nav_burger {
    display: none;
}

#div_burger {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #222222;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    display: none;
}

#div_burger a {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size: 20px;
    cursor: pointer;
}

#div_burger a:hover {

    font-weight: 900;
}

.fa-window-close {
    color: white;
}

#close_menu {
    position: absolute;
    margin-left: 170px;
    margin-top: -20px;
}

/****************** Slider *********************/
/*.container {
    padding-top: 150px;
    padding-bottom: 50px;
    margin: 0 50px 0 50px;
    /*width: 100%;*/
/*    height: 280px;
    position: relative;
   border: 2px solid black;
   
}
.next,.prev {
    font-size: 32px;
    color: gray;
    position: absolute;
    top: 280px;
    /*padding: 1em 2em;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    color: black;
}

.next:active,
.prev:active {
    top: 280px;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
} */
/*
slider h2 {
    display: none;
}

.container {
    padding-top: 150px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 350px;
    height: 280px;
    position: relative;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.item {
    display: block;
    position: absolute;
    width: 350px;
    height: 280px;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    -webkit-transform: rotateY(0deg) translateZ(345px);
    transform: rotateY(0deg) translateZ(345px);
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
}

.b {
    -webkit-transform: rotateY(60deg) translateZ(345px);
    transform: rotateY(60deg) translateZ(345px);
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
}

.c {
    -webkit-transform: rotateY(120deg) translateZ(345px);
    transform: rotateY(120deg) translateZ(345px);
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
}

.d {
    -webkit-transform: rotateY(180deg) translateZ(345px);
    transform: rotateY(180deg) translateZ(345px);
    background-image: url(../img/slide4.png);
    background-repeat: no-repeat;
}

.e {
    -webkit-transform: rotateY(240deg) translateZ(345px);
    transform: rotateY(240deg) translateZ(345px);
    background-image: url(../img/slide5.png);
    background-repeat: no-repeat;
}

.f {
    -webkit-transform: rotateY(300deg) translateZ(345px);
    transform: rotateY(300deg) translateZ(345px);
    background-image: url(../img/slide6.png);
    background-repeat: no-repeat;
}

.next,
.prev {
    font-size: 32px;
    color: gray;
    position: absolute;
    top: 280px;
    /*padding: 1em 2em;*/
/*    cursor: pointer;
}

.next:hover,
.prev:hover {
    color: black;
}

.next:active,
.prev:active {
    top: 280px;
}

.next {
    right: 5em;
}

.prev {
    left: 5em;
} */

/****************Google Map***************/

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

#carte_reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#map {
    width: 100%;
    height: 700px;
    border: 0;
    background-color: lightgray;
}

/*************************** FORMULAIRE ************************/

#reservation {
    display: none;
    background-color: rgb(235, 239, 243);
    opacity: 0.8;
    top: 20px;
    width: 350px;
    height: 680px;
    padding: 10px;
    border: 2px solid lightgray;
}

#reservation li {
    color: black;
    list-style: none;
    margin-bottom: 1.5em;
    font-weight: bold;
}

#reservation li span {
    font-weight: normal;
    color: #0081d5;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.buttonReservation {
    padding: 5px 15px;
    background-color: rgb(3, 189, 91);
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.buttonClose {
    padding: 5px 15px;
    background-color: red;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.buttonEfface {
    padding: 5px 15px;
    background-color: dodgerblue;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.buttonAnnul {
    padding: 5px 15px;
    background-color: red;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    line-height: 2.5;
}

#reservation h3 {
    color: black;
    font-size: 1.4em;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 25px;
}

#divReservation {
    display: block;
    width: auto;
    margin: 0, 15px;
    height: 120px;
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#ligneStation,
#ligneAdresse {
    color: red;
    font-size: 18px;
}

#canvas {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
}

#compteur {
    font-size: 1.5em;
    color: white;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px;
    height: 50px;
}

.text_footer {
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
}

.marque {
    color: black;
}




/*********************************************************************************/

 * {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;
  position: relative;
  margin: auto;*/

  
    margin: 0px 50px 0px 50px;
    /*width: 100%;*/
    height: 280px;
    position: relative;
   border: 2px solid black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}